@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff8f7; /* Just barelyyy not white */
}

body > * {
  width: 100%;
}

a {
  color: #fb251b;
}

a:hover {
  @apply underline;
}

* {
  box-sizing: border-box;
}

@screen lg {
  body {
    padding: 0 20%;
  }
}

@screen xl {
  body {
    padding: 0 30%;
  }
}

/* NAVBAR */

.navbar {
  padding-right: 0;
  @apply flex items-center justify-end flex-wrap pt-4;
}

@screen md {
  .navbar {
    /* padding-right: 30%; */
  }
}

.navlinks {
  @apply text-red-700 pr-6;
}

.navlinks:hover {
  @apply text-pink-400;
}

/* PERMA */

.permalink {
  @apply pb-8;
}

.permalink-title {
  @apply text-4xl;
}

.permalink-author {
  @apply text-2xl;
}

/* READING */

.reading-header {
  padding: 14px;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.favorites {
  background-color: #cfefaf;
}

.now-reading {
  background-color: #b5dce8;
}

.enjoyed {
  background-color: #ffc8b2;
}

.anti-library {
  background-color: #ffe766;
}

li > p {
  margin-bottom: 0;
}

.notes > * {
  margin-top: 0;
  @apply mb-2;
}

/* CLUSTERS */
.cluster {
  padding: 14px;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cluster:nth-of-type(6n + 1) {
  background-color: #cfefaf;
}
.cluster:nth-of-type(6n + 2) {
  background-color: #b5dce8;
}
.cluster:nth-of-type(6n + 3) {
  background-color: #ffc8b2;
}
.cluster:nth-of-type(6n + 4) {
  background-color: #ffe766;
}
.cluster:nth-of-type(6n + 5) {
  background-color: #e16f7c;
}
.cluster:nth-of-type(6n + 6) {
  background-color: #a2a4e2;
}

.cluster-text {
  @apply font-extrabold text-lg m-0;
}

/* SYNTAX HIGHLIGHTING */
/* FROM: https://github.com/FormidableLabs/prism-react-renderer */
.code-pre {
  text-align: left;
  margin: 1em 0;
  padding: 0.5em;
  overflow: scroll;
}

.code-line {
  display: table-row;
}

.code-line-number {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  opacity: 0.5;
}

.code-line-content {
  display: table-cell;
}
