@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff8f7; /* Just barelyyy not white */
}

a:hover {
  @apply underline;
}

* {
  box-sizing: border-box;
}
